body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #00aaff;
}

.logo1{
    padding: 0;
}

.rlogo1 a{
    background-color: #00aaff;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}


.rlogo a{
    background-color: #00aaff;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .rlogo a {
        display: none;
    }

    .rlogo1 a {
        padding: 8px 16px;
        font-size: 0.9em; 
        display: block;
    }
    
    .container{
        padding-left: 10px;
        max-width: 1000px;
    }
}


nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    position: relative;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: #00aaff;
    font-size: 1.5em;
    text-decoration: none;
}

.hero-image {
    max-width: 50%;
}

.hero-image img {
    width: 55%;
    margin-left: 30%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0b0e13;
    margin-top: 10px;
}

footer p {
    color: #aaa;
    font-size: 1.1em;
}


.about-us {
    background-color: #0d1117;
    color: #fff;
    padding: 20px;
}

.about-us h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #00aaff;
}

.about-us .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us .text {
    flex: 1;
    margin-right: 20px;
}

.about-us .text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-us .image {
    flex: 1;
    text-align: center;
}

.about-us .image img {
    max-width: 100%;
    border-radius: 8px;
}



.contact h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #00aaff;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contact-info ul li a {
    color: #00aaff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.skill-icons {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 20%;
}

.skill-icons a {
    text-decoration: none;
}

.skill-icons img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
}

.skill-icons img:hover {
    transform: scale(1.1);
}

.project-icons {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 20%;
}

.project-icons a {
    text-decoration: none;
}

.project-icons img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
}

.project-icons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .project-icons {
        display: flex;
        gap: 15px;
        justify-content: space-around;
        margin-top: 20%;
        flex-wrap: wrap;

    }

    .project-icons img {
        width: 150px;
        height: 150px;
        transition: transform 0.3s;
    }

    .skill-icons img {
        width: 150px;
        height: 150px;
        transition: transform 0.3s;
    }

    .skill-icons {
        display: flex;
        gap: 15px;
        justify-content: space-around;
        margin-top: 20%;
        flex-wrap: wrap;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        max-width: 90%;
        text-align: left;
    }

    .about-us .content {
        flex-direction: column;
        text-align: center;
    }

    .about-us .image img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}